<header class="top-bar foundation-bar">
	<div class="container">
		<%= link_to "Bodega de Arte", '#', id: "logo" %>
		<nav>
			<ul class="title-area right">
				<li><%= link_to "Home", '#' %></li>
				<li><%= link_to "Help", '#' %></li>
				<li><%= link_to "Log in", '#' %></li>
			</ul>
		</nav>
	</div>
</header>